{{ partial "header" . }}

<main class="main-intro">

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

    </div>

</main>

{{ partial "footer" . }}
