<div class="item">

    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    <h1><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h1>
    <h3>{{ $.Scratch.Get "subtitle" }}</h3>
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}

</div>
